# Microsoft Stock Price Prediction with Machine Learning

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\user\Downloads\MSFT.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-02,158.779999,160.729996,158.330002,160.619995,154.779510,22622100
1,2020-01-03,158.320007,159.949997,158.059998,158.619995,152.852234,21116200
2,2020-01-06,157.080002,159.100006,156.509995,159.029999,153.247360,20813700
3,2020-01-07,159.320007,159.669998,157.320007,157.580002,151.850067,21634100
4,2020-01-08,158.929993,160.800003,157.949997,160.089996,154.268814,27746500

In [3]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1011,2024-01-09,372.010010,375.989990,371.190002,375.790009,375.790009,20830000
1012,2024-01-10,376.369995,384.170013,376.320007,382.769989,382.769989,25514200
1013,2024-01-11,386.000000,390.679993,380.380005,384.630005,384.630005,27850800
1014,2024-01-12,385.489990,388.679993,384.649994,388.470001,388.470001,21645700
1015,2024-01-16,393.660004,394.029999,387.619995,390.269989,390.269989,27165100

In [4]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1016.000000,1016.000000,1016.000000,1016.000000,1016.000000,1.016000e+03
mean,263.790059,266.639252,260.926112,263.909843,259.729834,3.058510e+07
std,55.539491,55.635278,55.310395,55.523994,56.712822,1.295475e+07
min,137.009995,140.570007,132.520004,135.419998,130.852310,9.200800e+06
25%,222.462498,224.997505,219.342506,222.392498,216.853862,2.248418e+07
50%,259.690002,262.134995,256.804993,260.075013,255.616951,2.719580e+07
75%,305.832504,308.977494,302.692504,305.267502,301.240043,3.456135e+07
max,393.660004,394.029999,387.619995,390.269989,390.269989,9.701270e+07

In [5]:
df.shape

(1016, 7)

In [6]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

Define X and Y

In [8]:
X = df[["Open","High","Low","Close","Adj Close"]]
Y = df["Volume"]

Train, Test, Split

In [10]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=.25,random_state=100)

C:\Users\user\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Model Building

In [13]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

linear_model = linear_model.LinearRegression()

Fitting the Multiple Linear Regression model

In [14]:
reg_model = LinearRegression().fit(x_train, y_train)

Predicting the Test and Train set result

In [15]:
y_pred= reg_model.predict(x_test)  
x_pred= reg_model.predict(x_train)

Printing the model coefficients

In [16]:
print('Intercept: ',reg_model.intercept_)

Intercept:  38836904.84703391

pair the feature names with the coefficients

In [18]:
list(zip(X, reg_model.coef_))

[('Open', -178846.30245207154),
 ('High', 3080179.1209013714),
 ('Low', -2653129.2714673206),
 ('Close', -142924.20928371535),
 ('Adj Close', -202028.5630801695)]

In [19]:
print(reg_model.intercept_)
print(reg_model.coef_)

38836904.84703391
[ -178846.30245207  3080179.12090137 -2653129.27146732  -142924.20928372
  -202028.56308017]

In [20]:
#Predicting the Test and Train set result 
y_pred= reg_model.predict(x_test)  
x_pred= reg_model.predict(x_train)

In [21]:
print("Prediction for test set: {}".format(y_pred))

Prediction for test set: [24777695.12556184 70873447.87434742 27551418.33462398 35601639.08133764
 29199815.56903259 19425548.41953089 33233844.49203381 35723322.49432555
 21933628.11770915 31007030.60474297 36713079.85762703 31100402.59704632
 75206483.02172166 43641547.52061415 31533525.38811143 29123555.62284625
 41528709.9017782  26311177.2656334  19106956.52685715 41593734.33305804
 33556110.50299299 32830022.39607923 26690354.64884817 37473232.92638781
 18210366.32596356 30767811.42060006 26820255.71703977 28827242.16945081
 36083223.06499071 19046626.57103743 23483066.77783847 45243917.80332682
 34560066.31237327 49494631.64786696 49179001.23509064 17273227.85273403
 33828967.84764569 18138594.71797074 32710034.37972797 20258124.41423795
 24982675.21579159 34506692.54159816 28262422.18596771 29443426.51661958
 22317677.72444609 38690638.90297725 18430350.5086339  29380704.0353758
 28907125.36286891 43392161.49038967 24816220.23713367 31859316.70594334
 37861632.90256424 18455791.1627062  26654750.4614942  39127594.93041755
 42074535.55752353 39630405.58105415 28167992.01048787 31292919.15987823
 25476151.79977264 29338641.4896571  31906912.51205304 53190360.52654855
 21561002.87405096 32952482.28080247 44322809.54927717 47140594.84264159
 55895367.92976117 28147004.17189546 38018832.05823493 18379706.47591413
 24802514.13251502 22556380.57877684 35469243.39368202 21414995.54692977
 20442777.17328626 52840056.54753688 28243018.16027752 42675904.06528062
 19689599.03092176 29271802.28694831 33305882.83950304 28133581.1459211
 42896676.25102225 16323237.25315364 47324120.59619386 33718802.13988002
 20042909.72613776 27811058.46974849 39480415.3188986  32354293.76557638
 21107479.11166235 22420522.29602816 18902186.63648646 36297457.97581628
 60391446.91031972 26836958.5518408  27773716.55513917 24368030.76009282
 21178583.31261273 17074373.08353359 12114588.79798594 36593033.40916685
 22381763.42373472 32258482.98195335 36854028.82644102 22377496.42987188
 38255479.6683001  29964428.05917411 32278010.92366143 22914376.05056852
 23958834.70233541 24668856.73673089 27684136.0223413  29170346.16308821
 28151708.94109417 28785128.44092688 18607602.37324291 60660879.22642341
 30906470.7028643  36230780.75773235 26794898.70629434 29384753.57910296
 23986058.04482996 32723784.71739867 21543815.78172032 23292739.85860685
 27940324.32688338 17258332.00513217 20029289.41099744 25675147.2252931
 35386176.83083641 21106325.42222041 30928152.20257375 38120691.81559047
 31056508.87455308 20240830.55801787 36775667.68108741 41284148.65216346
 21906971.91223675 29236995.97731246 26176041.65447543 26356536.52241191
 31770097.39671213 22202957.46659587 23401198.9395273  37527858.35381195
 32678808.46105433 34976705.25372298 19772915.12640219 29090236.65804183
 36491790.30962887 45359010.00848507 23129869.18847352 27242843.97769105
 15079342.73131804 17304420.27506829 39555244.09755155 26343934.10621295
 38300428.62345613 31725275.30944201 33450928.39580345 43931698.11814374
 37231722.78670903 40611985.33053296 20881610.54155884 45672246.06452382
 26917360.34160742 22280365.02594417 29022369.56094149 25227264.5505615
 29050209.50531879 30270533.1963784  44458804.39950588 27779816.68647272
 32239341.29291745 28126431.93270577 35128092.76296255 49215150.14320452
 40445670.60536011 21987859.98695477 21886334.75879025 24494494.75573942
 15672165.36094847 30692124.47646078 33322796.62614401 34489892.19004574
 27790177.77438533 20627988.2591553  34168893.83719531 19570238.59256002
 25774162.35800556 39497291.40414812 20523058.69699355 24704737.75136047
 19078443.52786496 31303413.32730345 24425890.19113367 36057425.75804479
 42690800.22885174 33267026.78215559 29178063.04794887 42287017.14039687
 16997692.16643375 28030555.31027495 26044340.69363982 26693122.2250483
 20856020.15098985 31683026.39485073 31977090.19628368 20541617.47418295
 28318856.08558501 38870612.67921155 26504984.67108698 37052192.54682869
 29658197.27927976 25579396.62156298 19410801.72610623 30199620.47334087
 38192341.89389075 45818568.8627206  40501843.6509289  22450984.69817164
 27066328.14659684 26411954.37001486 24372336.15442821 50926252.94987837
 20613291.86914536 39868231.73386378 31154459.05639847 33548448.24457012
 27227178.2078572  20902836.26234422 23699100.62493605 29852974.41449514
 39353730.47189323 48955536.87531568 31052082.58575898 35309693.49506079
 28168758.93784264 34893391.2892498  14838162.55527047 24030695.3664142
 16473781.60227002 20504739.72146177 65113625.72476182 29765020.18698759
 25375326.96812769 37083959.31520993 24961385.43190529 37366725.59305733
 18651523.39914151 15748899.19840029]

Actual value and the predicted value

In [22]:
reg_model_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
reg_model_diff

     Actual value  Predicted value
793      21190000     2.477770e+07
48       93226400     7.087345e+07
359      23079200     2.755142e+07
532      45386200     3.560164e+07
149      28806400     2.919982e+07
..            ...              ...
546      27314500     3.708396e+07
308      25620100     2.496139e+07
483      33337600     3.736673e+07
933      16834200     1.865152e+07
862      20396200     1.574890e+07

[254 rows x 2 columns]

In [26]:
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error



mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
r2 = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print('Mean Absolute Error:', mae)
print('Mean Square Error:', mse)
print('Root Mean Square Error:', r2)

Mean Absolute Error: 6390768.440737623
Mean Square Error: 87059183989946.17
Root Mean Square Error: 9330551.108586576